pipeline/coping_bronse.json
{
	"name": "coping_bronse",
	"properties": {
		"activities": [
			{
				"name": "sql_adls",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tables')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sql Copy data to adls br",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "@concat('SELECT * FROM [dbo].[',item(),']')",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "server_s1_database_d2",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_bronze_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@if(equals(item(),'admissions'),'visit.parquet',\n     if(equals(item(),'patients'),'patient.parquet',\n          if(equals(item(),'insurance' ),'Billing.parquet',\n             if(equals(item(),'diagnoses_icd'),'diagnosis.parquet',\n                concat(item(),'.parquet') ) )   ))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "adls_to_adls_br",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "sql_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "per_files_Copy data_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adls_doct_dept_source",
									"type": "DatasetReference",
									"parameters": {
										"folder_n": {
											"value": "@item()",
											"type": "Expression"
										},
										"file_n": {
											"value": "@concat(item(),'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_bronze_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(item(),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"tables": {
				"type": "Array",
				"defaultValue": [
					"admissions",
					"diagnoses_icd",
					"insurance",
					"patients"
				]
			},
			"files": {
				"type": "Array",
				"defaultValue": [
					"Doctors",
					"Departments"
				]
			}
		},
		"annotations": []
	}
}